.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background:url('/public/error.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    text-align: justify;
    height:90vh;
}


.message{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:burlywood;
    background: rgba(15, 15, 15, 0.7);
    box-shadow: 20px 20px 40px 6px rgba(244, 251, 252, 0.6), -20px -20px 40px 6px rgba(247, 253, 253, 0.6);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blu(2.5px);
    border-radius: 10px;
    padding:10px;
    width:60%;
    height:60%;
}


@media only screen and (max-width:768px) {
    .message{
        font-size:14px;
        height:45%;
    }
}